.steps {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 300px;
    max-width: 1540px;
    width: 100%;

    background-color: var(--grey);

    border-radius: 10px;

    position: relative;

    z-index: 0;

    &__steps-line {
        width: 75%;
        border: 2px solid var(--light-grey);

        position: absolute;

        z-index: 1;
    }

    &__step-one,
    &__step-two,
    &__step-three {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 4px solid var(--light-grey);
        background-color: var(--white);
        z-index: 2;

        &__text {
            position: absolute;
            bottom: 45px;
            font-weight: 600;
            font-size: 18px;
        }
    }
}